

:root
{
	/* theme color */
	--thick-rgba: #d2691e;
	--solid-rgba: #8b4513;
	--light-rgba: #d2691e6e;
	--mantle-rgba: #d2691ec7;

	/* border */
    --bs-border-size: 2px;
    
	/* button */
	--btn-choco-bg: #d2691e;
	--btn-choco-bg-hover: #d2691ec7;

	/* transition */
	--bs-trans: 0.35s;
}

.c-mantle
{
	color: var(--mantle-rgba);
}

/*
	icon rotate
 */

.rotate{
    -moz-transition: all 3s linear;
    -webkit-transition: all 3s linear;
    transition: all 3s linear;
}

.rotate.down
{
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from 
  {
  	-ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
  	-ms-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.tooltip
{
  --bs-tooltip-bg: #212529;
}