
.xt-nav li a#product
{
   color: var(--mantle-rgba)
}

table.dataTable.nowrap td 
{
   white-space: revert; 
}
div.bootstrap-table table tr td 
{
   white-space: revert; 
}

.offcanvas
{
   --bs-offcanvas-width: 100%;
   --bs-offcanvas-transition: transform 0.5s ease-in-out;
}